body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.some {
  color: #ffe26f;
}

.vh-100 {
  height: 100vh;
}

.dark-gray-text {
  color: #6b6b6b !important;
}

.a-text {
  color: #ffffff !important;
  letter-spacing: 0.1rem;
}

.a-text:hover {
  cursor: pointer;
  color: #545454 !important;
}

.btn-container {
  padding: 1rem 0 !important;
  text-align: right !important;
}
.a-login-text {
  color: #03b89c !important;
  letter-spacing: none !important;
  font-size: 0.8rem !important;
}
.a-login-text:hover {
  cursor: pointer;
  color: #8b8383 !important;
  letter-spacing: none !important;
}

#nav-bar {
  padding: 0.5rem !important;
  .nav-padding {
    padding: 1rem !important;
  }

  .isActiveRoom {
    background-color: #009c85 !important;
    color: #ffffff !important;
  }
}

/* li {
    color: blue;
  }
  li:nth-child(odd) {
    color: green;
  }
  li:nth-child(even) {
    color: red;
  } */
